---
import Icon from 'astro-icon'
import type { CompanyType } from "@/lib/data"
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { ui } from '@/i18n/ui';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);

interface Props {
  company: CompanyType
}

const { company } = Astro.props
const { name, position, startDate, endDate, projects, technologies, extras, link } = company

const formattedStartDate = new Intl.DateTimeFormat(currentLang=='en'?"en-US":"es-MX", {month:'long', year: 'numeric'}).format(startDate)
const formattedEndDate = new Intl.DateTimeFormat(currentLang=='en'?"en-US":"es-MX", {month:'long', year: 'numeric'}).format(endDate)
---

<div class="mb-4">
  <h4 class="flex text-xl uppercase text-zinc-300">
    <Icon class="inline w-[1.5rem] text-emerald-600" name="ic:baseline-arrow-right" />
    { name }
  </h4>
  <em>
    {t(position as keyof typeof ui[typeof currentLang])}
    ({ startDate ? `${formattedStartDate} - ${endDate ? formattedEndDate : t('current')}`: t('current') })
  </em>

  { projects && projects.length && 
  <p>
      <strong>{t('projects')}: </strong> { projects.join(', ') }
  </p>
  }

  { technologies && technologies.length && 
      <p>
      <strong>{t('technologies')}: </strong> { technologies.join(', ') }
      </p>
  }

  { extras && extras.length && 
  <p>
      <strong>{t('others')}: </strong> { extras.join(', ') }
  </p>
  }

  { link && <a target="_blank" aria-label={ link } title={ name } class="hover:text-zinc-100 underline" href={ link }>{ link }</a> }
</div>