---
import Icon from 'astro-icon'
import type { CompanyType } from "@/lib/data"

interface Props {
  company: CompanyType
}

const { company } = Astro.props
const { name, position, startDate, endDate, projects, technologies, extras, link } = company

const formatedStart = startDate ? new Intl.DateTimeFormat("es-MX", {month:'long', year: 'numeric'}).format(startDate) : ''
const formatedEnd = endDate ? new Intl.DateTimeFormat("es-MX", {month:'long', year: 'numeric'}).format(endDate) : 'actualidad'
---

<div class="mb-4">
  <h4 class="flex text-xl uppercase text-zinc-300">
    <Icon class="inline w-[1.5rem] text-emerald-600" name="ic:baseline-arrow-right" />
    { name }
  </h4>
  <em>{ position } ({formatedStart} - {formatedEnd})</em>

  { projects && projects.length && 
  <p>
      <strong>Proyectos: </strong> { projects.join(', ') }
  </p>
  }

  { technologies && technologies.length && 
      <p>
      <strong>Tecnologías: </strong> { technologies.join(', ') }
      </p>
  }

  { extras && extras.length && 
  <p>
      <strong>Extras: </strong> { extras.join(', ') }
  </p>
  }

  { link && <a aria-label={ name } title={ name } class="hover:text-zinc-100 underline" href={ link } target="_blank">{ link }</a> }
</div>