---
import Icon from 'astro-icon'
import type { CompanyType } from "@/lib/data"
import { Text } from './Text'

interface Props {
  company: CompanyType
}

const { company } = Astro.props
const { name, position, startDate, endDate, projects, technologies, extras, link } = company
---

<div class="mb-4">
  <h4 class="flex text-xl uppercase text-zinc-300">
    <Icon class="inline w-[1.5rem] text-emerald-600" name="ic:baseline-arrow-right" />
    { name }
  </h4>
  <em>
    <Text text={position} client:load /> 
    ({ startDate ? <Text date={startDate} client:load /> : ''} - {endDate ? <Text date={endDate} client:load />: <Text text="current" client:load />})
  </em>

  { projects && projects.length && 
  <p>
      <strong><Text text ='projects' client:load />: </strong> { projects.join(', ') }
  </p>
  }

  { technologies && technologies.length && 
      <p>
      <strong><Text text ='technologies' client:load />: </strong> { technologies.join(', ') }
      </p>
  }

  { extras && extras.length && 
  <p>
      <strong><Text text ='others' client:load />: </strong> { extras.join(', ') }
  </p>
  }

  { link && <a target="_blank" aria-label={ name } title={ name } class="hover:text-zinc-100 underline" href={ link }>{ link }</a> }
</div>