---
import Company from "@/componets/Company.astro"
import { type CompanyType } from "@/lib/data"
import { Text } from "./Text"

interface Props {
	companies: CompanyType[]
}

const { companies } = Astro.props;
---
<article class="grid gap-4">
  <h3 class="text-4xl uppercase mt-4 text-zinc-300"><Text text ='experience' client:load /></h3>
  {
    companies.map((company: CompanyType) => (
      <Company company={company} />
    ))
  }
</article>