---
import Icon from 'astro-icon'
import { Text } from "./Text"
---

<Text text ='footer_1' client:load /> 
<Icon class="h-6 inline" name="vscode-icons:file-type-astro"/>Astro, 
<a title="GitHub" class="underline hover:text-zinc-100" href="https://github.com/ikarius6/resume">
    <Text text ='footer_2' client:load />
</a>
<Text text ='footer_3' client:load /><br />
<a title="Alex Omar" class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400" href="https://alexomar.com/">Alex Omar</a>
2023