---
import Companies from "@/components/Companies.astro";
import { companies, technologies } from "@/lib/data";
import { Icon } from 'astro-icon'
import Technology from "@/components/Technology.astro";
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
---

<section class="grid grid-cols-1 text-zinc-400 gap-4 p-4 pt-0">
  <nav class="sticky top-0 bg-zinc-900 p-4 z-50 border-b-2">
    <ul class="z-20 flex justify-evenly">
      <li><a title={t('home')} id="inicio" class="hover:text-neutral-100 flex flex-col" href="/"><Icon class="h-4 inline" name="ion:home-sharp" /> {t('home')}</a></li>
      <li><a title={t('contact_me')} id="contactame" class="hover:text-neutral-100 flex flex-col" href="#"><Icon class="h-4 inline" name="mdi:contact" /> {t('contact_me')}</a></li>
      <li><a title={t('library')} class="hover:text-neutral-100 flex flex-col" href="https://docs.alexomar.com/biblioteca/"><Icon class="h-4 inline" name="ion:library" /> {t('library')}</a></li>
      <li><a target="_blank" aria-label={t('download')} title={t('download')} class="text-emerald-600 hover:text-sky-400 flex flex-col" href={t('pdf')} type="application/pdf"><Icon class="h-4 inline" name="ic:baseline-download" /> <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400 hover:to-sky-400 hover:from-emerald-600">{t('download')}</span></a></li>
    </ul>
  </nav>

  <article class="grid gap-4">
    <h3 class="text-4xl uppercase mt-4 text-zinc-300 relative">
      {t('about_me')}
    </h3>
    <p>
      {t('about_me_1')}
    </p>
    <p>
      {t('about_me_2')}
      <pre class="text-zinc-300 font-mono">~$ telnet cv.alexomar.com 1337</pre>
    </p>
  </article>

  <article class="grid gap-4">
    <h3 class="text-4xl uppercase mt-4 text-zinc-300">{t('technologies')}</h3>
    <ul class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-4 xl:grid-cols-6 gap-4 items-center text-center">
      {technologies.map((technology) => (<Technology technology={technology} />)) }
    </ul>
  </article>

  <Companies companies={companies}/>
</section>
<script>
  const ctm = document.querySelector("#contactame")
  if (ctm)
    ctm.addEventListener("click", (e) => {
      e.preventDefault()
      window.location.href = "mailto:contacto@alexomar.com";
    })

  const inicio = document.querySelector("#inicio")
  if (inicio)
    inicio.addEventListener("click", (e) => {
      e.preventDefault()
      window.scrollTo({ top: 0, behavior: 'smooth' });
    })
</script>