---
import Icon from 'astro-icon'
import AsideMenu from '@/components/AsideMenu.astro'
import Main from '@/components/Main.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <meta property="og:url" content="https://alexomar.com/"/>
    <meta property="og:title" content="Alex Omar" /> 
    <meta property="og:description" content="Soy un programador apasionado, me gusta mantenerme en movimiento y seguir aprendiendo todos los dias, me interesa ayudar a encontrar soluciones eficientes o crearlas." /> 
    <meta property="og:image" content="/img/avatar-min.jpg" />

    <meta itemprop="name" content="Alex Omar" />
    <meta itemprop="description" content="Soy un programador apasionado, me gusta mantenerme en movimiento y seguir aprendiendo todos los dias, me interesa ayudar a encontrar soluciones eficientes o crearlas."/>
    <meta itemprop="image" content="/img/avatar-min.jpg" />
    
    <meta name="description" content="Soy un programador apasionado, me gusta mantenerme en movimiento y seguir aprendiendo todos los dias, me interesa ayudar a encontrar soluciones eficientes o crearlas.">
    <meta name="keywords" content="Seguridad, Tecnología, Desarrollo, Infraestructura, Control, Soporte, Consultoría, Sistemas, Coordinación, Dirección, Planeación y Realización de Proyectos, Innovación, Actualidad, Gadgets." />
    <meta name="author" content="Alex Omar">
	</head>
	<body>
		<div id="app" class="relative h-screen p-4 gap-4">
      <aside class="[grid-area:aside] rounded-lg flex-col flex bg-zinc-900">
        <AsideMenu />
      </aside>
      <main class="[grid-area:main] rounded-lg bg-zinc-900 lg:max-w-4xl">
        <Main />
      </main>
      <footer class="[grid-area:footer] text-zinc-200 pb-4 text-center lg:max-w-4xl">
        Página creada con <Icon class="h-6 inline" name="vscode-icons:file-type-astro"/>Astro, 
        <a title="GitHub" class="underline hover:text-zinc-100" href="https://github.com/ikarius6/resume">código fuente</a> por <br />
        <a title="Alex Omar" class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400" href="https://alexomar.com/">Alex Omar</a>
        2023
      </footer>
		</div>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <script is:inline src="/js/konami.js"></script>
    <script is:inline>
      new Konami(function() { alert('The cake is a lie!')});
      // TODO: Analytics
    </script>
  </body>
</html>
<style>
	#app {
		display: grid;
    grid-template-areas: 
      "aside main main"
      "aside footer footer";
    grid-template-columns: 28rem 1fr;
    grid-template-rows: 1fr;
	}

  @media (max-width: 1023px) {
    #app {
      grid-template-areas: 
        "aside"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 26rem 1fr;
    }
  }
</style>
<style is:global>
	html {
		font-family: arial, sans-serif;
    font-size: 16px;
		background: #000;
	}
</style>
